black==25.1.0
click==8.1.8
device-detector==5.0.1
isort==6.0.1
mypy==1.15.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
psycopg2-binary==2.9.10
PyYAML==6.0.2
regex==2024.11.6
tomli==2.2.1
typing_extensions==4.13.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
user-agents==2.2.0
